@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Saira+Condensed:wght@800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Saira Condensed', sans-serif;
    }

}



@layer components {

    .bg-yellow-custom {
        @apply bg-[#FFDE59]
    }

    .text-yellow-custom {
        @apply text-[#FFDE59]
    }

    .border-yellow-custom {
        @apply border-[#FFDE59]
    }

    .bg-green-custom {
        @apply bg-[#0D7377]
    }

    .text-green-custom {
        @apply text-[#0D7377]
    }

    .border-green-custom {
        @apply border-[#0D7377]
    }
/* 
    .paragraph-Blog {
        overflow          : hidden;
        display           : -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
<<<<<<< HEAD
    }
=======

        @media (max-width: 768px) {
            width: 40rem;
        }

        @media (max-width: 968px) {
            width: 30rem;
        }
    } */
>>>>>>> main

    .paragraph-popular {
        overflow          : hidden;
        display           : -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        /* @media (max-width: 768px) {
            width: 40rem;
        }

        @media (max-width: 968px) {
            width: 30rem;
        } */
    }


    .scrollModal::-webkit-scrollbar {
        width: 0px;
    }

    .scrollModal_type::-webkit-scrollbar {
        width: 6px;
    }

    .scrollModal_type::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollModal_type::-webkit-scrollbar-thumb {
        background   : #FFDE59;
        border-radius: 10px;
    }


}
